*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.name{
    float: right;
}

.content{
    display: flex;
    margin: 1%;
    flex-wrap: wrap;
    align-content: stretch;
    height: 85vh;
}

textarea{
    width: 95%;
    height: 10vh;
    resize: none;
}

.left{
    width: 60%;
    border: 1px solid rgb(149, 149, 149);
    border-right: none;
    padding-left: 1%;
}

.center{
    width: 30%;
    border: 1px solid rgb(149, 149, 149);
    border-right: none;
    padding-left: 1%;
}

.right{
    width: 10%;
    border: 1px solid rgb(149, 149, 149);
    padding-left: 1%;
}

.hiding{
    display: none;
}
  
.showing{
    display: block;
}
