*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li{
    list-style: none;
    margin-left: 10px;
    margin-top: 5px;
}

header{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.name{
    float: right;
}

.content{
    display: flex;
    flex-direction: column;
    height: 85vh;
    margin: 1%;
    border: black 1px solid;
}

.upper{
    display: flex;
    height: 65vh;
}

.graphZone{
    width: 50%;
    padding: 10px;
    border-bottom: black 1px solid;
}

.canvasZone{
    width: 100%;
    height: 93%;
}

canvas{
    position: absolute;
    z-index: 1;
}

.btnNode{
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.dataStructZone{
    width: 50%;
    padding: 10px;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    border-top: 0;
    overflow: auto;
}

.dataTable{
    text-align: center;
    width: 100%;
}

table, tr, td{
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
}

input{
    text-align: center;
}

.startInput{
    width: 50px;
}


.hiding{
    display: none;
}
  
.showing{
    display: block;
}
